body
{
    display: flex;

    width: 100vw;

    height: 100vh;

    background-color: rgb(233, 230, 230);

    margin: 0 auto;
    
    align-items: center;
    
    justify-content: center;
  
}

#container 
{
    display: flex;

    width: 450px;

    height: 650px;
    
    margin: 0 auto;
    
    align-items: center;
    
    justify-content: center;
    
    background-color: #fff;

    border-radius: 7px;

    box-shadow: 0.5px 1.25px 1.5px rgb(0 0 0 /10);
}

input
{
    display: flex;
    
    width: 225px;
    
    height: 42px;

    margin: 42px auto;
    
    align-items: center;
    
    align-content: center;

    border-radius: 5px;

    border-color: rgb(133, 133, 245);

    text-align: center;

    outline-color: rgb(133, 133, 245);
}
