#container 
{
    display: flex;
    width: 750px;
    height: 750px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

input
{
    
    width: 225px;
    height: 42px;

    display: flex;
    margin: 42px auto;
    align-items: center;
    align-content: center;
}
